@{
    ViewData["Title"] = "Home Page";
}
<head>
<style>

 

body {
    background-image:url('https://github.com/jamunabalamurugan/ProjectSampleMVC/blob/master/Team5-Airlines/Rash_Airlines/Rash_Airlines/images/fly8.gif?raw=true');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
}
</style>
</head>
 

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <span><button type="button" action =""class="btn btn-lg btn-secondary btn-login text-uppercase fw-bold mb-2"><a class="nav-link text-dark" asp-area="" asp-controller="UsersDbs" asp-action="Login">Login</a></button></span>
    <span><button type="button" action =""class="btn btn-lg btn-secondary btn-login text-uppercase fw-bold mb-2"><a class="nav-link text-dark" asp-area="" asp-controller="UsersDbs" asp-action="Create">Register</a></button></span>
</div>
