@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
<style>

 

body {
    background-image:url('https://github.com/jamunabalamurugan/ProjectSampleMVC/blob/master/Team5-Airlines/Rash_Airlines/Rash_Airlines/images/fly1.jpg?raw=true');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
}
</style>
</head>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
